body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
#container{
    margin-right: 125px;
    margin-bottom: 30px;
}
.slidebar-icon{
    height: 20px;
    width: 20px;
    margin: 15px 0px 0px 15px;
    float: left;
}
.logo-image{
    width:142px;
    height: 30px;
    margin: 15px 0px 0px 15px;
    float: left;
}
.slidebar-icon{
    display: inline;
}
.search-icon{
    width: 16px;
    height: 16px;
    margin: 19px;
    margin-left: 80px;
    float: left;
}
.notification-icon{
    width: 21px;
    height: 21px;
    float: right;
    position: relative;
    top: 15px;
    right: 50px;
}
.profile-image{
    width: 35px;
    height: 35px;
    float: right;
    position: relative;
    top: 7px;
    left: 40px;
}
.downword-arrow{
    width: 40px;
    height: 20px;
    float: right;
    position: relative;
    left: 227px;
    top: 14px;
}
.i1{
    width: 15px;
    height: 15px;
    margin-left: 45px;
}
.i2{
    width: 15px;
    height: 15px;
    margin-left: 45px;
}
.i3{
    width: 15px;
    height: 15px;
    margin-left: 45px;
}
.i4{
    width: 15px;
    height: 15px;
    margin-left: 45px;
}
.i5{
    width: 15px;
    height: 15px;
    margin-left: 45px;
}
.i6{
    width: 15px;
    height: 15px;
    margin-left: 45px;
}
.i7{
    width: 15px;
    height: 15px;
    margin-left: 45px;
}
#icon1>p{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 30px;
}
#icon2>p{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}
#icon3>p{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}
#icon4>p{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}
#icon5>p{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}
#icon6>p{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}
#icon7>p{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}
#dashboard{
    margin-left: 60px;
    font-size: large;
}
#images{
    display: flex;
    float: right;
    justify-content: space-between;
    margin: -250px 400px;
}
.new{
    margin-top: -40px;
    height: 50px;
    width: 70px;
}
#star{
    margin-left: 100px;
    margin-right: -14px;
}
#new-product{
    margin-left: 167px;
    margin-right: 113px;
}
#total img{
    width: 50px;
}
#total{
    margin-top: -10px;
    margin-left: 50px;
    margin-right: 84px;
}
#doller{
    margin-left: 50px;
    margin-right: 78px;
}
#money{
    margin-left: 50px;
    margin-right: -348px;
}  
h4{
    margin-top: -40px;
    margin-left: 70px;
} 
p{
    margin-left: 70px;
    width: 50px;
}
#middle{
    display: flex;
    flex-direction: row;
    float: left;
    margin-top: -70px;
    margin-left: 125px;
}
#time{
    color: gray;
    display: flex;
    flex-direction: row;
    margin-left: 450px;
    margin-top: -30px;
}
#graph-image{
    margin-left: 72px;
}
#chart{
    margin-left: 150px;
}
#chart-image{
    margin-left: 100px;
}
.sale{
    margin-left:30px ;
}
#last{
    display: flex;
    float: left;
}
tr{
    letter-spacing: 2px;
    word-spacing: 2px;
}

.table{
    margin-left: -100px;
    margin-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tab{
    width: 150px;
}
.tab2{
    width: 350px;
}
.tab3{
    width: 350px;
}
.tab4{
    width: 200px;
}
h3{
    margin-top: 50px;
    margin-left: 200px;
}
.row-list {
    display: flex;
    justify-content: space-between;
}


#red {

    background-color: red;
    margin-right: 10px;
    margin-left: 30px;
}

#green {

    background-color: green;
    margin-left: 70px;
}

#orange {

    background-color: orangered;
    margin-left: 30px;
}

#yellow {

    background-color: yellow;
    margin-right: 0px;
}
#us{
    margin-left: 0px;
    width: 200px;
}
#can{
    margin-left: 10px;
    width: 200px;
}
#rus{
    margin-left: 10px;
    width: 200px;
}
#ind{
    margin-left: 10px;
    width: 200px;
}
.col-list {
    display: flex;
}

.col-list span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
thead{
    color: #ADADAD;
}
.paid{
    color: #3CDD5F;
}
.fail{
    color: #FF4545;
}
.pending{
    color:#BABABA;
}



